<tbody id="<%= dom_id line %>">
  <tr>
    <td class="arrow">
      <% if modifiable %>
        <%= link_to "▲", line_path(line, :line => { :quantity => (line.quantity+1) }), :method => :put, :remote => true, :class => "up" %>
      <% end %>
    </td>
    <td rowspan="2"><%= pluralize line.quantity, line.item.product.category.name.singularize.downcase %></td>
    <td rowspan="2"><%= line.item.name.downcase %></td>
    <td rowspan="2"><%= line.item.size.name.downcase %></td>
    <td rowspan="2" class="price"><%= number_to_currency(line.item.price * line.quantity, :unit => "$") %></td>
  </tr>
  <tr>
    <td class="arrow">
      <% if modifiable %>
        <%= link_to "▼", line_path(line, :line => { :quantity => (line.quantity-1) }), :method => :put, :remote => true, :class => "down" %>
      <% end %>
    </td>
  </tr>
</tbody>
