<tbody id="<%= dom_id line %>">
  <tr>
    <td class="arrow">
      <%= link_to "▲", line_path(line, :line => { :quantity => (line.quantity+1) }), :method => :put, :remote => true, :class => "up" %>
    </td>
    <td rowspan="2" class="quantity"><%= line.quantity %></td>
    <td rowspan="2"><%= line.item.product.category.name %></td>
    <td rowspan="2"><%= line.item.name %></td>
    <td rowspan="2"><%= line.item.size.name %></td>
    <td rowspan="2"><%= line.item.price * line.quantity %></td>
  </tr>
  <tr>
    <td class="arrow">
      <%= link_to "▼", line_path(line, :line => { :quantity => (line.quantity-1) }), :method => :put, :remote => true, :class => "down" %>
    </td>
  </tr>
</tbody>
