<tfoot id="totals">
  <% if @lines.any? -%>
    <tr>
      <td colspan="4" class="subtotal price">
        Sous-total:
      </td>
      <td class="subtotal">
        <%= number_to_currency(@subtotal = @lines.inject(0) { |sum, line| sum + (line.item.price * line.quantity) }) %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="delivery price">
        Livraison:
      </td>
      <td class="delivery">
        <%= number_to_currency(@delivery = @shop.delivery_fee_to(@delivery_address)) %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="tps">
        TPS:
      </td>
      <td class="tps">
        <%= number_to_currency((@tps = (@subtotal + @delivery) * 0.05))  %>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="tvq">
        TVQ:
      </td>
      <td class="tvq">
        <%= number_to_currency(@tvq = (@subtotal + @delivery + @tps) * 0.085)  %>
      </td>
    </tr>
    <tr class="total_line">
      <td colspan="4" class="total">
        Total:
      </td>
      <td class="total">
        <%= number_to_currency((@subtotal + @delivery + @tvq + @tps))  %>
      </td>
    </tr>
  <% end -%>
</tfoot>
