<tfoot id="totals">
  <% if @lines.any? -%>
    <tr>
      <td colspan="4" class="subtotal price">
        Sous-total:
      </td>
      <td class="subtotal">
        <%= number_to_currency(@order.subtotal_amount) %>
      </td>
    </tr>
    <% if @order.delivery_fee_amount > 0 %>
      <tr>
        <td colspan="4" class="delivery price">
          Livraison:
        </td>
        <td class="delivery">
          <%= number_to_currency(@order.delivery_fee_amount) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4" class="tps">
        TPS:
      </td>
      <td class="tps">
        <span title="sous-total + livraison = <%= number_to_currency(@order.gst_subtotal) %>">
          <%= number_to_currency(@order.gst_amount)  %>
        </span>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="tvq">
        TVQ:
      </td>
      <td class="tvq">
        <span title="sous-total + livraison + TPS = <%= number_to_currency(@order.pst_subtotal) %>">
          <%= number_to_currency(@order.pst_amount) %>
        </span>
      </td>
    </tr>
    <tr class="total_line">
      <td colspan="4" class="total">
        Total:
      </td>
      <td class="total">
        <%= number_to_currency(@order.total_amount) %>
      </td>
    </tr>
    <tr class="total_gm_points">
      <td colspan="4" class="total">
        Points gagnés:
      </td>
      <td class="total">
        <%= @order.gm_points %>
      </td>
    </tr>
  <% end -%>
</tfoot>
