<% @page_title = ["GrandMenu.com", "Nouveau Compte"].join(" :: ") %>

<div id="logo_line">
  <div>
    <%= image_tag "logo.png", :width => 282, :height => 127, :alt => "Commander en ligne avec GrandMenu.com", :id => "logo" %>
  </div>
</div>

<div id="devise">
  <div id="inner">
    <h2>Nouveau compte</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :first_name, "Prénom" %>
      <%= f.text_field :first_name, :placeholder => "Jean" %>
      <br/>

      <%= f.label :last_name, "Nom" %>
      <%= f.text_field :last_name, :placeholder => "Laffamé"  %>
      <br/>

      <%= f.label :email, "Courriel" %>
      <%= f.text_field :email, :placeholder => "jean.laffame@exemple.com" %>
      <br/>

      <%= f.label :password, "Mot de passe" %>
      <%= f.password_field :password, :placeholder => "*********" %>

      <%= f.submit "Envoyez moi le lien de confirmation" %>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
