<% if @shop.owned_by?(current_user) -%>
  <p>
    <b>
      <%= best_in_place @shop, :name %>
    </b>
  </p>

  <p><%= best_in_place @shop, :address %>, <%= best_in_place @shop, :city %>, <%= best_in_place @shop, :postal_code %></p>
  <p><%= best_in_place @shop, :phone_number %></p>
<% else -%>
  <p>
    <b>
      <%= @shop.name %>
    </b>
  </p>

  <p><%= @shop.full_address %></p>
  <p><%= @shop.phone_number %></p>
<% end -%>

<h4>Menu</h4>

<%= link_to("Editez le menu", "#", :id => "edit_menu_link", :class => 'owner') if @shop.owned_by? current_user %>

<div id="categories">
  <%= render @shop.categories %>

  <% if @shop.owned_by?(current_user) -%>
    <h5 class="owner">
      <%= form_for [@shop, Category.new] do |f| %>
        <% if @shop.categories.none? %><label id="category_instructions">Il faut créez des catégories pour votre menu.</label><% end %>
        <%= f.text_field :name, :placeholder => "Rajoutez une catégorie", :id => "new_category_name" %>
      <% end -%>
    </h5>
  <% end -%>
</div>
