<%= render :partial => 'shared/user_nav' %>

<header>
<div>
  <%= link_to image_tag('/images/logo.png', :height => 94, :width => 224), root_path, :class => 'home' %>
  <%= render :partial => 'shared/flashes' %>
</div>
</header>

<div id="shop_banner">
  <div>
    <div id="shop_address">
      <% if user_signed_in? && @shop.owned_by?(current_user) -%>
        <h1><%= best_in_place @shop, :name %></h1>
        <h2><%= best_in_place @shop, :address %>, <%= best_in_place @shop, :city %>, <%= best_in_place @shop, :postal_code %>, <%= best_in_place @shop, :phone_number %></h2>
        <p><em>Commande minimum</em>: <%= best_in_place @shop, :minimum %>$ | <em>Livraison</em>: <%= best_in_place @shop, :delivery %>min</p>
      <% else -%>
        <h1><%= @shop.name %></h1>
        <p><%= @shop.full_address %></p>
      <% end -%>
      <%= image_tag(map_url(@shop), :id => 'shop_map') %>
    </div>
  </div>
</div>

<div id="menu">
  <div>
    <div id="categories">
      <%= render @shop.categories %>
      <% if user_signed_in? && @shop.owned_by?(current_user) -%>
        <h5 class="owner">
          <%= form_for [@shop, Category.new] do |f| %>
            <% if @shop.categories.none? %><label id="category_instructions">Il faut créez des catégories pour votre menu.</label><% end %>
            <%= f.text_field :name, :placeholder => "Rajoutez une catégorie", :id => "new_category_name" %>
          <% end -%>
        </h5>
      <% end -%>
    </div>
    <div id="order">
      <% if user_signed_in? -%>
        <table>
          <thead>
            <tr>
              <th colspan="4">Ta Commande</th>
            </tr>
          </thead>
          <% if @lines.empty? -%>
            <tfoot id="order_instructions">
              <tr>
                <td colspan="4">Cliques sur un prix pour commander</td>
              </tr>
            </tfoot>
          <% end -%>
          <tbody id="lines">
            <%= render @lines %>
          </tbody>
        </table>
      <% else -%>
        <p>
          Il faut s'incrire ou se connecter pour pouvoir faire une commande.
        </p>
      <% end -%>
    </div>
  </div>
</div>
