<p>
  <b>
    <%= @shop.name %>
  </b>
</p>

<p><%= @shop.full_address %></p>
<p><%= @shop.phone_number %></p>

<%= link_to 'Edit', edit_shop_path(@shop) if @shop.owned_by?(current_user) %>
<%= link_to 'Back', root_path %>
