<div id="shop_banner">
  <div id="shop_address">
    <% if @shop.owned_by?(current_user) -%>
      <h1><%= best_in_place @shop, :name %></h1>
      <h2><%= best_in_place @shop, :address %>, <%= best_in_place @shop, :city %>, <%= best_in_place @shop, :postal_code %>, <%= best_in_place @shop, :phone_number %></h2>
      <p><em>Commande minimum</em>: 20$ - <em>Livraison</em>: 30min</p>
    <% else -%>
      <h1><%= @shop.name %></h1>
      <p><%= @shop.full_address %></p>
    <% end -%>
  </div>
  <%= image_tag(map_url(@shop), :id => 'shop_map') %>
</div>

<div id="categories">
  <%= render @shop.categories %>

  <% if @shop.owned_by?(current_user) -%>
    <h5 class="owner">
      <%= form_for [@shop, Category.new] do |f| %>
        <% if @shop.categories.none? %><label id="category_instructions">Il faut créez des catégories pour votre menu.</label><% end %>
        <%= f.text_field :name, :placeholder => "Rajoutez une catégorie", :id => "new_category_name" %>
      <% end -%>
    </h5>
  <% end -%>
</div>
