<p>
  <b>
    <%= @shop.name %>
  </b>
</p>

<p><%= @shop.full_address %></p>
<p><%= @shop.phone_number %></p>

<h4>Menu</h4>
<div id="categories">
  <%= render @shop.categories %>
  <% if @shop.owned_by?(current_user) -%>
    <%= form_for [@shop, Category.new], :remote => true do |f| %>
      <% if @shop.categories.none? %><label id="category_instructions">Il faut créez des catégories pour votre menu.</label><% end %>
      <%= f.text_field :name %>
    <% end -%>
  <% end -%>
</div>

<%= link_to 'Edit', edit_shop_path(@shop) if @shop.owned_by?(current_user) %>
<%= link_to 'Back', root_path %>
