<p>
  <b>
    <%= @shop.name %>
  </b>
</p>

<p><%= @shop.full_address %></p>
<p><%= @shop.phone_number %></p>

<h4>Menu</h4>
<div id="categories">
  <%= render @shop.categories %>
  <% if @shop.owned_by?(current_user) -%>
    <h5 class="owner">
      <%= form_for [@shop, Category.new], :remote => true do |f| %>
        <% if @shop.categories.none? %><label id="category_instructions">Il faut créez des catégories pour votre menu.</label><% end %>
        <%= f.text_field :name, :placeholder => "Rajoutez une catégorie" %>
      <% end -%>
    </h5>
    <% end -%>
</div>

<%= link_to 'Edition', edit_shop_path(@shop) if @shop.owned_by?(current_user) %>
<%= link_to 'Retour', root_path %>
