= form_for @delivery_address, :remote => true do |f|
  -if @delivery_address.errors.any?
    #error_explanation
      %ul
        - @delivery_address.errors.full_messages.each do |msg|
          %li= msg

  .new_name
    = label :address, "Adresse:"
    = f.text_field :address
    *
  .new_appartment
    = label :apartment, "Appartement:"
    = f.text_field :apartment
  .new_city
    = label :city, "Ville:"
    = f.text_field :city
    *
  .new_zip_code
    = label :zip_code, "Code postal:"
    = f.text_field :zip_code
    *
  .new_phone_number
    = label :phone_number, "Téléphone:"
    = f.text_field :phone_number
    *
  .new_note
    = label :note, "Instructions spéciales:"
    = f.text_area :note

  = f.submit "Sauver cette adresse", :class => 'button'
