.addresses
  - addresses.each do |address|
    .address{"delivery_address_id" => address.id}
      .full
        = address.address
        - unless address.apartment.blank?
          = "Apt. #{address.apartment}"
      .phone_number
        = address.phone_number
      .note
        = address.note

      .actions
        = link_to 'Modifier', edit_delivery_address_path(address)
        = "-"
        = link_to 'Supprimer', address, :confirm => 'Êtes-vous certain?', :method => :delete
