<% @page_title = "GrandMenu.com" %>

<div id="logo_line">
  <div>
    <%= image_tag "logo_home_page.png", :width => 329, :height => 145, :alt => "Commander en ligne avec GrandMenu.com", :id => "logo" %>
  </div>
</div>

<div id="potential_container">
  <p id="what_it_does">GrandMenu.com permettra aux petits restaurateurs <br/>d'accepter les commandes en ligne.</p>
  <p id="when_we_launch">Inscrivez-vous pour savoir quand on lance.</p>
  <div id="potential_center">

    <%= form_for(@potential) do |f| %>
      <% if @potential.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@potential.errors.count, "erreur") %>:</h2>

          <ul>
            <% @potential.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div style="display: none">
        <div class="field">
          <label for="potential_kind_normal">
            <%= f.radio_button("kind", "normal", :checked => true) %> j'aime manger
          </label>
        </div>

        <div class="field">
          <label for="potential_kind_restaurant">
            <%= f.radio_button("kind", "restaurant") %> j'ai un resto
          </label>
        </div>
      </div>
      
      <div class="field">
        <%= f.text_field :name, :placeholder => "Guy Moutarde" %>
      </div>
      <div class="field">
        <%= f.text_field :email, :placeholder => "guy24@exemple.com" %>
      </div>
      <div class="field">
        <%= f.text_field :address, :placeholder => "12 rue des Affamés, Ste-Famine, QC"  %>
      </div>
      <div class="field phone">
        <%= f.text_field :phone, :placeholder => "450-555-5555" %>
      </div>
      <div class="actions">
        <%= f.submit "Tenez-moi au courant" %>
      </div>
    <% end %>
  </div>
</div>
