<div id="header">
  <div>
    <%= link_to image_tag("/images/logo_home_page.png", :width => 224, :height => 94, :alt => "Commander en ligne avec GrandMenu.com", :id => "logo"), root_path, :class => "home" %>
  </div>
</div>

<%= render "shops/banner" %>

<div id="confirm">
  <div id="container">
    <div id="extras">
      <%= render "delivery_addresses/list", :addresses => current_user.delivery_addresses.current %>
      <%= form_for(@order) do |f| %>
        <%= f.hidden_field :shop_id %>
        <%= f.hidden_field :delivery_address_id, :value => @current_address_id %>
        <p>Vous recevrez un email lorsque la commande sera reçue.</p>
        <%= f.submit "Confirmer la commande", :id => "confirm_link" %>
      <% end -%>
    </div>
    <table id="confirm_order">
      <thead>
        <th colspan="5">
          Votre commande
        </th>
      </thead>
      <%= render "lines/totals" %>
      <% @order.lines.each do |line| -%>
        <%= render @order.lines, :modifiable => false %>
      <% end -%>
    </table>
  </div>
</div>
