<% @page_title = ["GrandMenu.com", "Connexion"].join(" :: ") %>

<div id="logo_line">
  <div>
    <%= link_to image_tag("/images/logo_home_page.png", :width => 329, :height => 145, :alt => "Commander en ligne avec GrandMenu.com", :id => "logo"), root_path, :class => "home" %>
  </div>
</div>

<div id="devise">
  <div id="inner">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.text_field :email, :placeholder => "email@exemple.com" %>
      <%= f.password_field :password, :placeholder => "*********" %>
      <%= f.check_box :remember_me, :checked => true %>
      <%= f.label :remember_me, "Rappelez-vous de moi" %>
      <%= f.submit "Je veux voir le menu!" %>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
