- @page_title = ["GrandMenu", params[:address]].compact.join(" :: ")

= render :partial => "banner"

#find
  #address
    = render :partial => 'searches/form'
  #instruction
    #instructions
      - if user_signed_in?
        %span.default_searches
          = render :partial => "searches/search", :collection => @searches
        %span.default_searches
          = render :partial => "searches/delivery_address", :collection => @delivery_addresses
        %span.default_searches
          = render :partial => "searches/order", :collection => @orders
        .clear
      - else
        %p Tapez votre adresse pour trouver des restaurants proche de vous.
        %p.example Example: 12 rue des Affamés, St-Hubert, QC
