<%= form_for([@shop, @time_block]) do |f| %>
  <% if @time_block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_block.errors.count, "error") %> prohibited this time_block from being saved:</h2>

      <ul>
      <% @time_block.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :weekday %><br />
    <%= f.text_field :weekday %>
  </div>
  <div class="field">
    <%= f.label :starting %><br />
    <%= f.text_field :starting %>
  </div>
  <div class="field">
    <%= f.label :ending %><br />
    <%= f.text_field :ending %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
