<p id="notice"><%= notice %></p>

<p>
  <b>Jour:</b>
  <%= human_weekday @time_block.weekday %>
</p>

<p>
  <b>Début:</b>
  <%= @time_block.starting %>
</p>

<p>
  <b>Fin:</b>
  <%= @time_block.ending %>
</p>


<%= link_to 'Edit', edit_shop_time_block_path(@shop, @time_block) %> |
<%= link_to 'Back', shop_time_blocks_path %>
