<table>
  <thead>
    <tr>
        <th class="category_title">
          <% if @shop.owned_by?(current_user) -%>
            <%= form_for [category.shop, category], :method => :put, :remote => true do |f| %>
              <%= f.text_field :name, :size => 15, :'data-onblur' => :submit %>
            <% end %>
            <%= link_to "✕", shop_category_path(@shop, category), :method => :delete, :confirm => "Etes vous certain de vouloir éffacer cette catégorie?", :class => "delete owner" %>
          <% else %>
            <%= category.name %>
          <% end %>
        </th>
        <th class="spacer">
        </th>
        <% category.sizes.each do |size| %>
          <th>
            <% if @shop.owned_by?(current_user) -%>
              <%= form_for [category.shop, category, size], :method => :put, :remote => true do |f| %>
                <%= f.text_field :name, :size => 8, :'data-onblur' => :submit  %>
              <% end -%>
              <%= link_to "✕", shop_category_size_path(@shop, category, size), :method => :delete, :confirm => "Etes vous certain de vouloir éffacer cette taille?", :class => "delete owner" %>
            <% else -%>
              <%= size.name %>
            <% end -%>
          </th>
        <% end %>
        <% if @shop.owned_by?(current_user) -%>
          <th class="owner">
            <%= form_for [@shop, category, Size.new] do |f| %>
              <%= f.text_field :name, :placeholder => "Rajoutez une taille.", :size => 17, :id => [dom_id(category), 'new_size'].join('_') %>
            <% end -%>
          </th>
        <% end -%>
    </tr>
  </thead>
  <tbody>
    <%= render category.products %>
    <% if @shop.owned_by?(current_user) -%>
      <tr class="owner">
        <td colspan="<%= category.sizes.count + 1 %>">
          <%= form_for [@shop, category, Product.new] do |f| %>
            <%= f.text_field :name, :placeholder => "Rajoutez un produit.", :id => [dom_id(category), 'new_product'].join('_') %>
          <% end -%>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>


