<table style="width: 850px;">
  <thead>
    <tr>
      <th class="category_title">
        <%= @shop.owned_by?(current_user) ? best_in_place(category, :name, :path => shop_category_path(category.shop, category)) : category.name %>
      </th>
      <% category.sizes.each do |size| %>
        <th>
          <%= size.name %>
        </th>
      <% end %>
      <% if @shop.owned_by?(current_user) %>
        <th class="owner">
          <%= form_for [category, Size.new] do |f| %>
            <%= f.text_field :name, :placeholder => "Rajoutez une taille.", :id => [dom_id(category), 'new_size'].join('_') %>
          <% end -%>
        </th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <%= render category.items %>
    <% if @shop.owned_by?(current_user) -%>
      <tr class="owner">
        <td colspan="<%= category.sizes.count + 1 %>">
          <%= form_for [category, Item.new], :remote => true do |f| %>
            <%= f.text_field :name, :placeholder => "Rajoutez un item.", :id => [dom_id(category), 'new_item'].join('_') %>
          <% end -%>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>


