<!DOCTYPE html>
<html>
  <head>
    <title>Bingbong :: <%= @page_title %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <div id="user_nav">
      <% if user_signed_in? %>
        Vous êtes connecté comme <%= current_user.email %>. Pas vous?
        <%= link_to "Déconnexion", destroy_user_session_path %>
      <% else %>
        <%= link_to "Nouveau compte", new_user_registration_path %> ou <%= link_to "Connexion", new_user_session_path %>
      <% end %>
    </div>

    <h1><%= @page_title %></h1>

    <div id="flashes">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>

  </body>
</html>
